<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="XExtractor.RulefilesPath" value="E:\Projects\KXTX\Architecture\Projects\XExtractor\Source Code\Validation\XExtractor\TestConsole\rules"/>
    <!--<add key="XExtractor.ThrowExceptionIfNotfoundRule" value="1"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
